/* Popup header */
.modal-header,
.modal-footer {
   justify-content: center;
}

.modal-title {
   font-size: 30px;
}

.modal-title img {
   width: 70px;
}

.party-popper-left {
   transform: scaleX(-1);
}

/* Popup body */
.modal-body {
   font-size: 20px;
   text-align: center;
}

.modal-body p {
   margin: 10px;
}

/* Popup footer */
.modal-footer button {
   font-size: 18px;
   padding: 5px 15px;
}