/* Overall game */
.game {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: #DEDEDE;
   /* display: flex; */
   /* flex-direction: column; */
   /* justify-content: center; */
   /* align-items: center; */
}

.game .container {
   border: 1px solid #DEDEDE;
   background-color: white;
   border-radius: 15px;
   padding: 20px;
   box-shadow: 0 0 5px 5px #DEDEDE;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(2, 1fr);
   justify-items: center;
   align-items: center;
   gap: 15px;
   margin: 10px auto;
   min-width: 800px;
   width: 75%;
   max-width: 1000px;
   min-height: 370px;
   height: 73%;
   max-height: 460px;
}
