.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
   margin: 20px 120px;
   box-shadow: 0 0 5px 5px #DEDEDE;
   border: 1px solid #DEDEDE;
   border-radius: 15px;
   background-color: white;
}

.header button {
   padding: 5px 15px;
}

.game-name {
   font-size: 28px;
   font-weight: 600;
}