/* Sidebar */
.offcanvas-start {
   width: 450px;
}

/* Sidebar header */
.offcanvas-header {
   background-color: #DEDEDE;
   padding: 15px 20px;
}

.offcanvas-title {
   font-size: 28px;
}

/* Instruction list */
ul li {
   font-size: 20px;
   margin: 10px 0;
}